<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./../assets/css/style.css">
    <script src="./../js/client.js"></script>
    <title>{{ pageTitle }}</title>
</head>
<body>
    <h1>This is website</h1>
    <p>Autor: Konrad Drabczyk</p>
    <p>{{ subTitle }}</p>
    <p>{{ anotherTitle }}</p>
    <input type="text" id="example">
    <button id="action">Klik</button>
    <p id="text"></p>
    {{ hello }}
    {{ add }}
</body>
</html>